.ProductDetail {
  text-align: center;
  padding: 25px 0;
}

.ProductDetailTitle {
  font-size: 46px;
  color: #f5393c;
}

.ProductDetailContent {
  background: linear-gradient(to right, #d31027, #ea384d);
  max-width: 70%;
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.ProductDetailImage {
  width: 400px;
  border-radius: 20px;
  background-color: white;
  flex-grow: 1;
  margin: 5%;
}

.ProductDetailImage img {
  width: 100%;
  max-height: 400px;
  border-radius: 20px;
  margin: 20px 15px;
  margin-bottom: -20px;
}

.ProductDetailAbout {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ProductDetailDescription {
  max-width: 500px;
}

.ProductDetailPrice {
  font-size: 55px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.ProductDetailButtonContainer {
  margin-bottom: 15px;
  background-color: white;
}

.ProductDetailButton {
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  width: 100%;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: -15px;
  background-color: #cc0003;
  border: 1px solid #9f2e2e6e;
}
